@import "../stylesheets/node_modules/bootstrap/scss/bootstrap.scss";


.mt-200 {
    margin-top: 200px;
}
.mt-100 {
    margin-top: 100px;
}
.mt-70 {
    margin-top: 70px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-10 {
    margin-top: 10px;
}

.avatar-size {
    height: 100px;
    width: 100px;
}

.card {
    border: 0px;
}
.progress {
    border: 1px solid #c0c0c0;
}
.progress-bar {
    border: 1px solid #c0c0c0;
}